
<div class="about-main">
  <h2>RunTalkとは</h2>
  <p>
    ランナーのためのSNSサービスです。
    <br>
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
    <br>
    <br>
    <br>
    <h3>〇 Talk</h3>
    <br>
    ・この機能では、RunTalkユーザーの方たちとランニングのことから普段のことまで好きなことを語り合うことができます！
    <br>
    <br>
    <h3>〇 練習日誌</h3>
    <br>
    ・この機能では、Talkとは別に、自分の日々の練習をネット上に書くことにより、効率よく管理することができ、他のランナーたちと練習を共有することができます。
  </p>
</div>